@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Averr';
  src: url('../fonts/Aver.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Bitout';
  src: url('../fonts/bitout.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Shumi';
  src: url('../fonts/shumi.otf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'jaguar';
  src: url('../fonts/jaguar.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'prototype';
  src: url('../fonts/prototype.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'titillium';
  src: url('../fonts/titillium.ttf');
  font-weight: 500;
  font-style: normal;
}