@import "libs.styl"
@import "media.styl"

body





header
    border 1px solid black
    margin-top 30px
    .header
        &__logo
            text-align center
            img
                width: 150px
        &__address
            margin: 0px 0px
            p
                text-align center
        &__phone
            p
                text-align center                              