.break-tahograf.section.light.container-fluid
    .row
        .col-md-6
            .break-tahograf__item
                img(src="img/tahograf1.png", alt="", width="100%")
                ul
                    li
                        p Штраф
                    li
                        p Выход из строя а\м
                    li
                        p Нет выезда на линию
                    li
                        p Проблемы с законом
                    li
                        p Нарушение режима труда о отдыха  
        .col-md-6
            .break-tahograf__item
                img(src="img/tahograf1.png", alt="", width="100%")
                ul
                    li
                        p ТО без препятствий
                    li
                        p Законность бизнеса
                    li
                        p Режим и статистика движения
                    li
                        p А\М не простаивает
                    li
                        p Безопасность  
                