.container-fluid
    .row
        .col-sm-4
            .header__logo
                img(src="img/logo.png", alt="tahograf")
        .col-sm-5
            .header__address
                p <i class="fas fa-map-marker-alt"></i> г. Пермь, ул. Строителей, д. 12,кв. 34
                p <i class="fas fa-clipboard-list"></i> ПН-ПТ с 9:00 - 20:00, СБ-ВС с 10:00 - 18:00
            
        .col-sm-3
            .header__phone
                p <i class="fas fa-phone-square"></i>  +7 987 654 32 10
                p <i class="fas fa-phone-square"></i> +7 987 654 32 10

            