.container-fluid
    .row
        .col-sm-2
            .header__logo
                img(src="img/logo.png", alt="tahograf")
        .col-sm-7
            .header__address
                p г. Пермь, ул. Строителей, д. 12,кв. 34
                p ПН-ПТ с 9:00 - 20:00, СБ-ВС с 10:00 - 18:00
            
        .col-sm-3
            .header__phone
                p +7 987 654 32 10
                p +7 987 654 32 10

            