.home.container-fluid
    .row
        .col-md-5.col-sm-12
            .home__title
                h1 Сервисный центр по тахографии
                p <i class="far fa-dot-circle"></i> Работаем со всеми видами тахографов
                p <i class="far fa-dot-circle"></i> Ремонт, замена НКМ, поверка
                p <i class="far fa-dot-circle"></i> Изготовление карт
        .col-md-7.col-sm-6
            .home__img
                img(src="img/tahograf.png", alt="тахограф", width="100%")
            