.container
    .row
        .col-sm-10
            .header__nav.nav
                ul.nav.nav-pills.nav-justified
                    li.active
                        a(href="#") Главная
                    li
                        a(href="#") Каталог
                    li
                        a(href="#") Новости
                    li
                        a(href="#") Контакты
 
        .col-sm-2
            .header__callback
                button.btn.btn-default.navbar-btn(type="button") Заказать звонок
            
                               
            


