
.road-map.section.dark.container-fluid
    .row
        .col-md-3.col-sm-6.item
            <i class="fas fa-tools fa-5x"></i>
            p РЕМОНТ
        .col-md-3.col-sm-6.item   
            <i class="fas fa-sync-alt fa-5x"></i>
            p ЗАМЕНА НКМ
        .col-md-3.col-sm-6.item
            <i class="fas fa-check fa-5x"></i>
            p ПОВЕРКА
        .col-md-3.col-sm-6.item
            <i class="fas fa-ruble-sign fa-5x"></i>
            p УСПЕШНЫЙ БИЗНЕС