
.statistics.section.dark.container-fluid
    .row
        .col-md-3.col-sm-6.item
            h3 540
            p отремонтированных тхографов
        .col-md-3.col-sm-6.item
            h3 450
            p замененных блоков НКМ
        .col-md-3.col-sm-6.item
            h3 900
            p тахографов прошедших поверку
        .col-md-3.col-sm-6.item
            h3 820
            p карт водителя изготовлено

        
            
            
        