
.types-of-breakdowns.section.light.container-fluid
    .row
        .col-md-7
            .replacement-nkm__item
                img(src="img/tacho8.jpg", alt="", width="100%")                

        .col-md-5
            .replacement-nkm__item
                ul
                    li                      
                        p 1   
                            i Тахограф не включается при запуске а\м
                    li
                        p 2 
                            i Перестала отображатья информация на дисплее
                    li
                        p 3 
                            i Перестал принимать карту
                    li
                        p 4 
                            i Тахограф отдает карту обратно
                    li
                        p 5 
                            i Западание клавиш 
                    li
                        p 6 
                            i Неисправность НКМ 