.verification.section.light.container-fluid
    .row
        .col-md-6
            .replacement-nkm__item    
                ul
                    li
                        p Средство крипто защиты информации
                    li
                        p Выход из строя а\м
                    li
                        p Нет выезда на линию
                    li
                        p Проблемы с законом
                    li
                        p Нарушение режима труда о отдыха

        .col-md-6
            .replacement-nkm__item
                img(src="img/verification1.png", alt="", width="100%")                
                
    .row
        .col-md-6
            .replacement-nkm__item
                ul
                    li
                        p Штраф
                    li
                        p Выход из строя а\м
                    li
                        p Нет выезда на линию
                    li
                        p Проблемы с законом
                    li
                        p Нарушение режима труда о отдыха  
        .col-md-6
            .replacement-nkm__item 
                img(src="img/verification2.png", alt="", width="100%") 